DATABASE_URL="YOUR_CONNECTION_STRING_HERE"
BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_ACCESS_EXPIRATION=1d
JWT_REFRESH_EXPIRATION=7d

STRIPE_SECRET_KEY=your stripe_secret_key
STRIPED_PRODUCT_ID=your stripe_product_id
STRIPE_WEBHOOK_SECRET=your stripe_webhook_secret